<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      th:href="@{/styles/style.css}"
      href="../static/styles/style.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Transfer</title>
  </head>
  <body>
    <div th:insert="~{base :: common-nav}"></div>
    <div id="errorDialog" class="hidden">
      <p id="errorMessage" th:text="${error}"></p>
  </div>
    <div class="bg-gray-100 p-8">
      <div class="mb-6">
        <div class="flex flex-row justify-between">
          <h2 class="text-lg font-semibold mb-2">Send Money</h2>
          <div>
            <button
              id="openModal"
              class="bg-blue-500 text-white py-2 px-4 rounded"
            >
              Add Connection
            </button>
          </div>
        </div>
        <div
          class="bg-white p-4 rounded-lg shadow flex justify-between items-center"
        >
          <form action="/create_transaction" method="post">
            <input
              type="hidden"
              th:name="${_csrf.parameterName}"
              th:value="${_csrf.token}"
            />
            <div class="flex space-x-2">
              <select
                name="friendship"
                class="border border-gray-300 rounded p-2"
              >
                <option>Select A Connection</option>
                <option
                  th:each="friendship : ${friendships}"
                  th:id="${friendship.friendId.id}"
                  th:value="${friendship.friendId.id}"
                  th:text="|${friendship.friendId.first_name} ${friendship.friendId.last_name}|"
                ></option>
              </select>
              <input
                type="text"
                name="amount"
                placeholder="0€"
                class="border border-gray-300 rounded p-2"
              />
              <input
                type="text"
                name="description"
                placeholder="description"
                class="border border-gray-300 rounded p-2"
              />
              <p>Current balance : <span th:text="${user.balance}"></span></p>
            </div>
            <button class="bg-green-500 text-white py-2 px-4 rounded">
              Pay
            </button>
          </form>
        </div>
      </div>

      <div class="mb-6">
        <h2 class="text-lg font-semibold mb-2">My Transactions</h2>
        <div class="bg-white p-4 rounded-lg shadow">
          <table class="min-w-full">
            <thead class="bg-green-500 text-white">
              <tr>
                <th class="p-2">Send to</th>
                <th class="p-2">Description</th>
                <th class="p-2">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="transaction : ${transactions}">
                <td th:text="|${transaction.receiver_user.first_name} ${transaction.receiver_user.last_name}|"></td>
                <td th:text="${transaction.description}"></td>
                <td th:text="${transaction.amount}"></td>

              </tr>
            </tbody>
          </table>
          <div class="flex justify-center items-center space-x-1 mt-4">
            <a href="#" class="p-1 border rounded">«</a>
            <!-- Add pagination here -->
            <a href="#" class="p-1 border rounded">»</a>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- Modal -->
  <div
    id="modal"
    class="fixed z-10 inset-0 overflow-y-auto hidden"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
  >
    <div
      class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
    >
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        aria-hidden="true"
      ></div>
      <span
        class="hidden sm:inline-block sm:align-middle sm:h-screen"
        aria-hidden="true"
        >&#8203;</span
      >
      <div
        class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
      >
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3
                class="text-lg leading-6 font-medium text-gray-900"
                id="modal-title"
              >
                Add a new Connection
              </h3>
              <form action="/create_connection" method="post">
                <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"
              />
              <select
                name="new_friend_id"
                class="border border-gray-300 rounded p-2"
              >
                <option>Select A User to Connect with</option>
                <option
                  th:each="user : ${unconnectedUsers}"
                  th:id="${user.id}"
                  th:value="${user.id}"
                  th:text="|${user.first_name} ${user.last_name}|"
                ></option>
              </select>
              <button class="bg-blue-500 text-white py-2 px-4 rounded">
                Connect
              </button>
              </form>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button
            id="closeModal"
            type="button"
            class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.getElementById("openModal").addEventListener("click", function () {
      document.getElementById("modal").classList.remove("hidden");
    });

    document
      .getElementById("closeModal")
      .addEventListener("click", function () {
        document.getElementById("modal").classList.add("hidden");
      });
    
    window.onload = function() {
    var errorDialog = document.getElementById('errorDialog');
    var errorMessage = document.getElementById('errorMessage').innerText;
    if (errorMessage) {
        alert(errorMessage);
    }
}
  </script>
</html>
